<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
        <div class="header">
            <h4 class="card-title">Criterios y Estándares Ajustados</h4>
        </div>
        <div class="body">
            <div class="dataTables_wrapper form-inline dt-bootstrap">
                <div class="row">
                    <!--BOTONES ACCIONES-->
                    <div class="col-sm-6">
                        <div class="col-sm-6">
                            <button class="btn" style="width: 100%;background-color: #000033;color: white"
                                    data-toggle="modal" data-target="#modal_Add_Register">
                                Crear Nuevo Registro
                            </button>
                        </div>
                    </div>
                    <!--END BOTONES ACCIONES-->
                    <!--INPUT SEARCH-->
                    <div class="col-sm-6" >
                        <div class="dataTables_filter">
                            <input type="search" class="form-control input-sm" style="width: 100%;"
                                   placeholder="Buscar">
                        </div>
                    </div>
                    <!--END INPUT SEARCH-->
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table  class="table table-hover dataTable table-responsive" style="overflow: auto">
                            <thead>
                            <tr role="row">
                                <th>#</th>
                                <th>Criterio</th>
                                <th>CYE Ajustado</th>
                                <th>Observación</th>
                                <th>Valoración</th>
                                <th>Responsables - Correo</th>
                                <th>Fecha Límite</th>
                                <th>Acción</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr role="row" class="odd" ng-repeat="item in lista_filtrada_cye_ajustados | limitTo : 2">
                                <td>{{$index + 1}}</td>
                                <td>{{item.Criterio}}</td>
                                <td>{{item.CriterioAjustado}}</td>
                                <td>{{item.Observaciones}}</td>
                                <td>{{item.Valoracion}}</td>
                                <td>{{item.Responsable}} - {{item.Correo}}</td>
                                <td>{{item.FLOC}}</td>
                                <td>
                                    <a ng-click="openEditModal(item.ID)"  style="color: darkblue">EDITAR</a> |
                                    <a  ng-click="deleteData(item.ID)" style="color: red;">ELIMINAR</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <div class="footer">

        </div>
    </div>
</div>

<!--START MODAL ADD DIMENSION-->
<div class="container-fluid">
    <div class="modal fade" id="modal_Add_Register" tabindex="-1" role="dialog" aria-labelledby="modal_Add_Register" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Ajustar Criterio y Estándar</h5>
                </div>
                <div class="modal-body">
                    <div class="row clearfix">
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="select_cye_available">Criterios y Estándares</label>
                                <select class="form-control" id="select_cye_available" ng-model="selected_cye_option">
                                    <option ng-repeat="item in lista_cye">{{item.Criterio}}</option>
                                </select>
                            </div>
                            <div class="col-sm-6 ">
                                <label for="input_cye_ajustado">Criterio y Estándar Ajustado</label>
                                <input type="text" class="form-control input-sm" id="input_cye_ajustado" ng-model="input_cye_ajustado">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="select_available_responsables">Responsable</label>
                                <select class="form-control" id="select_available_responsables" ng-model="selected_responsable">
                                    <option ng-repeat="item in lista_usuarios">{{item.NombreCompleto}}</option>
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <label for="date_fecha_limite">Fecha Limite</label>
                                <input class="form-control" type="date" id="date_fecha_limite" ng-model="date_fecha_limite">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary"  ng-click="insertData()" id="button_save_cye_ajustado">
                        Crear Criterio
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--END MODAL ADD DIMENSION-->

<!--START MODAL EDIT CYE-->
<div class="container-fluid">
    <div class="modal fade" id="modalEditCYEA" tabindex="-1" role="dialog" aria-labelledby="modalAddDimension" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Editar Criterio y Estándar | {{cye_edit.Criterio}}</h5>
                </div>
                <div class="modal-body">
                    <div class="row clearfix">
                        <div class="col-md-12">
                            <div class="container-fluid">
                                <label for="input_edit_cye">Ingrese el nuevo nombre del criterio y estándar</label>
                                <input type="text" class="form-control" ng-model="input_edit_cye"
                                       id="input_edit_cye" placeholder="Nombre Dimensión" value="{{cye_edit.Criterio}}">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <br>
                            <div class="col-sm-6">
                                <label for="select_edit_componente">Componentes Disponibles</label>
                                <select class="form-control" id="select_edit_componente" ng-model="selected_edit_component">
                                    <option ng-repeat="item in lista_componentes">{{item.Componente}}</option>
                                </select>
                                <p>Componente Asociado: {{cye_edit.Componente_Asociado}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary"  ng-click="editData()" id="button_edit_cye">
                        Guardar Cambios
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--END MODAL EDIT CYE-->