<!--START CARD TABLE + BOTONES-->
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card" style="height: 500px">
        <div class="header">
            <h4>Dimensiones</h4>
        </div>
        <div class="body">
            <div id="tableWrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                <!--HEADER-->
                <div class="row">
                    <!--BOTONES ACCIONES-->
                    <div class="col-sm-6">
                        <div class="col-sm-6">
                            <button class="btn " style="width: 100%;background-color: #000033;color: white"
                                    data-toggle="modal" data-target="#modalAddDimension">
                                Crear Nuevo Registro
                            </button>
                        </div>
                    </div>
                    <!--END BOTONES ACCIONES-->
                    <!--INPUT SEARCH-->
                    <div class="col-sm-6" >
                        <div id="filterTableDimensiones" class="dataTables_filter">
                            <input type="search" class="form-control input-sm" style="width: 100%;"
                                   placeholder="Buscar" aria-controls="filterTableDimensiones">
                        </div>
                    </div>
                    <!--END INPUT SEARCH-->
                </div>
                <!--END HEADER-->
                <!--TABLA DIMENSIONES-->
                <div class="row">
                    <div class="col-sm-12">
                        <table  class="table table-hover dataTable table-responsive" id="dataTableDimensiones" style="overflow: auto">
                            <thead>
                            <tr role="row">
                                <th>#</th>
                                <th>Dimensión</th>
                                <th>Componente</th>
                                <th>Acción</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr role="row" class="odd" ng-repeat="dimension in listaDimensiones">
                                    <td>{{$index + 1}}</td>
                                    <td>{{dimension.nombreDimension}}</td>
                                    <td>
                                        <label for="componentsSaved">Componentes Asociados:</label>
                                        <select id="componentsSaved"  class="form-control show-tick" ng-model="selectedComponents">
                                            <option ng-repeat="componente in dimension.listaComponentes">
                                                {{componente.nombreComponente}}
                                            </option>
                                        </select>
                                    </td>
                                    <td>
                                        <a data-toggle="modal" data-target="#modalEditDimension" ng-click="openModalEdit(dimension.nombreDimension)" style="color: darkblue">EDITAR</a> |
                                        <a  ng-click="removeDimension(dimension.nombreDimension)" style="color: red;">ELIMINAR</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--END TABLA DIMENSIONES-->
                <!--FOOTER-->
                <div class="row">
                    <div class="col-sm-5">
                        <div id="dataTableDimensionInfo" class="dataTables_info" role="status" aria-live="polite">
                            Mostrando 4 - 10
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div id="dataTableDimensionPagination" class="dataTables_paginate pagine_simple_numbers">
                            <ul class="pagination">
                                <li id="dataTableDimensionBtnBack" class="paginate_button previous">
                                    <a aria-controls="dataTableDimensionBtnBack" data-dt-idx="0" tabindex="0">Anterior</a>
                                </li>
                                <li id="dataTableDimensionBtnNext" class="paginate_button next">
                                    <a aria-controls="dataTableDimensionBtnNext" data-dt-idx="0" tabindex="0">Siguiente</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--END FOOTER-->
            </div>
        </div>
    </div>
</div>
<!--END CARD TABLE + BOTONES-->

<!--START MODAL ADD DIMENSION-->
<div class="container-fluid">
    <div class="modal fade" id="modalAddDimension" tabindex="-1" role="dialog" aria-labelledby="modalAddDimension" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Agregar Dimensión</h5>
                </div>
                <div class="modal-body">
                    <div class="row clearfix">
                        <div class="col-md-12">
                            <div class="container-fluid">
                                <label for="txtDimensionName">Ingrese el nombre de la dimensión</label>
                                <input type="text" class="form-control" ng-model="name"
                                       id="txtDimensionName" placeholder="Nombre Dimensión" >
                            </div>
                        </div>
                        <div class="col-md-12">
                            <hr>
                            <div class="col-md-5">
                                <div class="container-fluid">
                                    <label>Componentes <br> Disponibles</label>
                                    <select class="form-control show-tick" id="componentesDisponibles"  multiple
                                            data-live-search="true" ng-model="addComponent">
                                        <option ng-repeat="item in listaComponentesDisponibles">{{item.nombreComponente}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-2" style="margin-top: 10%;margin-bottom: 3%">
                                <div class="container-fluid">
                                    <div class="col-xs-12">
                                        <button class="btn btn-sm btn-primary" ng-click="moveComponent()" title="Agregar">
                                            <i class="material-icons">add</i>
                                        </button>
                                        <button class="btn btn-sm btn-danger" ng-click="removeComponent()"
                                                 title="Eliminar" >
                                            <i class="material-icons">delete</i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="container-fluid">
                                    <label>Componentes <br> Seleccionados</label>
                                    <select class="form-control  show-tick" ng-model="removeSelected" id="componentesSeleccionados"
                                            data-live-search="true"  multiple>
                                        <option ng-repeat="item in listaComponentesSeleccionados">{{item.nombreComponente}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary"  ng-click="save()" id="btnSaveDimension">
                        Agregar Dimensión
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--END MODAL ADD DIMENSION-->

<!--START MODAL EDIT DIMENSION-->
<div class="container-fluid">
    <div class="modal fade" id="modalEditDimension" tabindex="-1" role="dialog" aria-labelledby="modalAddDimension" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Editar Dimensión | {{dimensionName}}</h5>
                </div>
                <div class="modal-body">
                    <div class="row clearfix">
                        <div class="col-md-12">
                            <div class="container-fluid">
                                <label for="txtDimensionName">Ingrese el nombre de la dimensión</label>
                                <input type="text" class="form-control" ng-model="dimensionName"
                                       id="txtEditDimensionName" placeholder="Nombre Dimensión" >
                            </div>
                        </div>
                        <div class="col-md-12">
                            <hr>
                            <div class="col-md-5">
                                <div class="container-fluid">
                                    <label>Componentes <br> Disponibles</label>
                                    <select class="form-control show-tick"  multiple
                                            data-live-search="true" ng-model="addComponent">
                                        <option ng-repeat="item in listaComponentesDisponibles">{{item.nombreComponente}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-2" style="margin-top: 10%;margin-bottom: 3%">
                                <div class="container-fluid">
                                    <div class="col-xs-12">
                                        <button class="btn btn-sm btn-primary" ng-click="moveComponent()" title="Agregar">
                                            <i class="material-icons">add</i>
                                        </button>
                                        <button class="btn btn-sm btn-danger" ng-click="removeComponent()"
                                                title="Eliminar" >
                                            <i class="material-icons">delete</i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="container-fluid">
                                    <label>Componentes <br> Seleccionados</label>
                                    <select class="form-control  show-tick" ng-model="removeSelected"
                                            data-live-search="true"  multiple>
                                        <option ng-repeat="item in listaComponentesSeleccionados">{{item.nombreComponente}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary"  ng-click="editDimension()" id="btnEditDimension">
                        Guardar Cambios
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--END MODAL EDIT DIMENSION-->


